{
    auto_https off
}

monitor.local {

    tls internal

    reverse_proxy grafana:3000

    encode gzip

    header {
        Strict-Transport-Security "max-age=31536000;"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
    }
}
